{% extends 'back-end/base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Saisie des notes - [{{ user.name ~ ' ' ~ user.firstName }}]/[{{ releve.getexamen().title ~ ' ' ~ releve.year }}]</h1>
        {% include 'back-end/header.html.twig' %}
    </div>

    {{ form(form) }}

    <h2>Section title</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date de saisie</th>
                <th>Matière</th>
                <th>Note</th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.created | date }}</td>
                        <td>{{ item.getmatiere().gettitle() }}</td>
                        <td>{{ item.note }}</td>
                        <th>
                            <a href="/admin/note/{{ user.id }}/{{ releve.id }}/{{ item.id }}" title="détail note"><span data-feather="search"></span><span class="sr-only">detail note</span></a>
                            <a href="/admin/notes/delete/{{ user.id }}/{{ releve.id }}/{{ item.id }}" title="suppression note"><span data-feather="trash"></span><span class="sr-only">suppression note</span></a>
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}