{%  extends 'back-end/base.html.twig' %}

{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Résultat de votre recherche</h1>
        {% include 'back-end/header.html.twig' %}
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>NIE</th>
                <th>Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Rôle</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if results %}
                {% for item in results %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nin }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.role }}</td>
                        <th>
                            <a href="/admin/etudiants/{{ item.id }}"><span data-feather="search"></span></a>
                            <a href="/admin/etudiants/delete/{{ item.id }}"><span data-feather="trash"></span></a>
                            <a href="/admin/releves/{{ item.id }}"><span data-feather="file-text"></span></a>
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}