{%  extends 'back-end/base.html.twig' %}
 {% block title %}
     <title>Dashboard - Utilisateurs</title>
 {% endblock %}
{% block content %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">Utilisateurs</h1>
        {% include 'back-end/header.html.twig' %}
    </div>

    {{ form(form) }}

    <h3>Liste des utilisateurs</h3>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>ID</th>
                <th>NIE</th>
                <th>Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Rôle</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% if items %}
                {% for item in items %}
                    <tr>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nin }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.email }}</td>
                        <td>{{ item.role }}</td>
                        <th>
                            <a href="/admin/utilisateurs/{{ item.id }}" title="détail utilisateurs"><span data-feather="search"></span><span class="sr-only">détail utilisateurs</span></a>
                            <a href="/admin/utilisateurs/delete/{{ item.id }}" title="supresssion utilisateurs"><span data-feather="trash"></span><span class="sr-only">supprimer utilisateurs</span></a>
                        </th>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}